* {
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    color-scheme: light dark;
    --color-background: light-dark( #181932, #181932);
    --color-background-1: light-dark( #292f6b, #292f6b);
    --color-background-2: light-dark( #43a9be, #43a9be);

    --color-accent-1: light-dark( #EB5C35, #EB5C35);
    --color-accent-2: light-dark( #d43f16, #d43f16);

    --color-text-main: light-dark( #000000, #ffffff);
    --color-text-2: light-dark( #EB5C35, #EB5C35);
}


section {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Section foto's */
.section-images{
    div {
        width: 100vw;
        aspect-ratio: 4/1;
        background-color: white;

        &:nth-of-type(1){
            height: 10rem;
            transform: translate(0, 8rem);
            /* box-shadow: inset 0 0 0 1em white; */
            background-color: white;

            /* border-bottom-left-radius: 50% 100%;
            border-bottom-right-radius: 50% 100%; */
            mask-image: radial-gradient(ellipse at bottom,rgba(92, 90, 229, 0) 60%, rgba(244, 71, 113, 1) 60%);

        }
        &:nth-of-type(2) {
             transform: translate(0, -6rem);
             border-radius: 50%;
        }
    }

    > ul{
        display: flex;
        width: 80vw;
        height: fit-content;
        gap: 1rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-snap-type: center;
        margin: 3rem 0;

        li {
            
            list-style-type: none;

            > img {
                height: 17rem;
            }
        }
    }
}