* {
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    color-scheme: light dark;
    --color-background: light-dark( #181932, #181932);
    --color-background-1: light-dark( #292f6b, #292f6b);
    --color-background-2: light-dark( #43a9be, #43a9be);

    --color-accent-1: light-dark( #EB5C35, #EB5C35);
    --color-accent-2: light-dark( #d43f16, #d43f16);

    --color-text-main: light-dark( #000000, #ffffff);
    --color-text-2: light-dark( #EB5C35, #EB5C35);

}

body {

    background-color: #181932;
    background-image: 
        radial-gradient(white, rgb(255 255 255 / 0.2) 5px, transparent 3px),
        radial-gradient(white, rgb(255 255 255 / 0.15) 2px, transparent 2px),
        radial-gradient(white, rgb(255 255 255 / 0.1) 4px, transparent 3px);
    
    background-size: 550px 550px, 350px 350px, 250px 250px;
    background-position: 0 0, 40px 60px, 130px 270px;

    height: 100vh;
    width: 100%;    
}

p {
    margin:1em 0;
}

h2 {
    margin-bottom:1em;
}

ul {
  list-style-position: outside;
  padding-left: 1em;
}

ul li {
  text-indent: -1em;  
  padding-left: 1em;  
}

section {
    position: relative;
    width: 80vw;
    max-width: 50em;
    margin: auto;
    padding: 2em 0;
}

.info-card-container {
    height: 24em;
}

/* Alleen de info-cards centreren binnen hun section */
.info-card {
    position: absolute;
    width: 80%;
    height:auto;
    padding: 1em 2em;
    background: #D9D9D9;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    color: black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Offset effect voor gestapelde kaarten */
.info-card:nth-child(1) {
    z-index: 1;
    transform: translate(calc(-50% + -1em), calc(-50% + -3em));
}
.info-card:nth-child(2) {
    z-index: 2;
    transform: translate(-50%, -50%);
}
.info-card:nth-child(3) {
    z-index: 3;
    transform: translate(calc(-50% + 1em), calc(-50% + 3em));
}